.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

.text-overflow(@line) when (@line > 1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
}
