// spacing
@spacing: 0, 4px, 8px, 16px, 24px, 32px, 40px, 48px;

// font-size: key; line-height: value;
@size: {
  12px: 16px;
  14px: 20px;
  16px: 24px;
  18px: 28px;
  24px: 32px;
  32px: 40px;
  40px: 48px;
};

// opacity
@opacity: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
