.sh-1 {
  font-size: 12px;
  line-height: 16px;
}

.sh-2 {
  font-size: 14px;
  line-height: 20px;
}

.sh-3 {
  font-size: 16px;
  line-height: 24px;
}

.sh-4 {
  font-size: 18px;
  line-height: 28px;
}

.sh-5 {
  font-size: 24px;
  line-height: 32px;
}

.sh-6 {
  font-size: 32px;
  line-height: 40px;
}

.sh-7 {
  font-size: 40px;
  line-height: 48px;
}