.mt-8 {
  margin-right: 4px;
  margin-top: 8px;
}

.mt-16 {
  margin-right: 8px;
  margin-top: 16px;
}

.mt-24 {
  margin-right: 16px;
  margin-top: 24px;
}

.mt-32 {
  margin-right: 24px;
  margin-top: 64px;
}

.mt-40 {
  margin-right: 32px;
  margin-top: 16px;
}

.mt-48 {
  margin-right: 40px;
  margin-top: 16px;
}

.mt-56 {
  margin-right: 48px;
  margin-top: 56px;
}

.mt-64 {
  margin-right: 56px;
  margin-top: 64px;
}

/* 4, 8, 16, 24, 32, 40, 48, 56 */

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}
