// spacing
@spacing: 0, 4, 8, 16, 24, 32, 40, 48;

each(@spacing, {

  // margin

  .m-@{value} {
    margin: (@value * @unit);
  }

  .mt-@{value} {
    margin-top: (@value * @unit);
  }

  .mr-@{value} {
    margin-right: (@value * @unit);
  }

  .mb-@{value} {
    margin-bottom: (@value * @unit);
  }

  .ml-@{value} {
    margin-left: (@value * @unit);
  }

  // padding

  .p-@{value} {
    padding: (@value * @unit);
  }

  .pt-@{value} {
    padding-top: (@value * @unit);
  }

  .pr-@{value} {
    padding-right: (@value * @unit);
  }

  .pb-@{value} {
    padding-bottom: (@value * @unit);
  }

  .pl-@{value} {
    padding-left: (@value * @unit);
  }
});
