@unit: 1px;
@spacing: 0, 4, 8, 16, 24, 32, 40, 48;

each(@spacing, {

  // margin

  .m@{value} {
    margin: (@value * @unit);
  }

  .mt@{value} {
    margin-top: (@value * @unit);
  }

  .mr@{value} {
    margin-right: (@value * @unit);
  }

  .mb@{value} {
    margin-bottom: (@value * @unit);
  }

  .ml@{value} {
    margin-left: (@value * @unit);
  }

  .mh@{value} {
    margin-right: (@value * @unit);
    margin-left: (@value * @unit);
  }

  .mv@{value} {
    margin-top: (@value * @unit);
    margin-bottom: (@value * @unit);
  }

  // padding

  .p@{value} {
    padding: (@value * @unit);
  }

  .pt@{value} {
    padding-top: (@value * @unit);
  }

  .pr@{value} {
    padding-right: (@value * @unit);
  }

  .pb@{value} {
    padding-bottom: (@value * @unit);
  }

  .pl@{value} {
    padding-left: (@value * @unit);
  }

  .ph@{value} {
    padding-right: (@value * @unit);
    padding-left: (@value * @unit);
  }

  .pv@{value} {
    padding-top: (@value * @unit);
    padding-bottom: (@value * @unit);
  }

});
